<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Menu</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/index.css" />
    <link rel="stylesheet" href="../stylesheets/modal.css">
</head>
<body>
    <div class = "container" id = "big-container">
        <h1 id="game-title">Minesweeper</h1>
        <br>
        <button class='button' id='playButton' onclick="redirectSettings()">Play</button>
        <button class='button' id='instructionButton' onclick="open_modal2()">Instruction</button>
    </div>
    <p>Build 0.2</p>
        <!-- The Modal -->
        <div id="myModal2" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close" onclick="close_modal2()">&times;</span>
                    <h2>Instructions & Credits</h2>
                </div>
                <div class="modal-body">
                    <div>
                        <h3>Team members:</h3>
                        <p>Nguyễn Hoàng Linh - ITITIU19023</p>
                        <p>Trần Hoàng Long - ITITSB19004</p>
                        <p>Nguyễn Đức Minh - ITITIU19030</p>
                        <p>Trần Quang Tùng - ITITIU19237</p>
                    </div>
                    <hr/>
                    <h3>How to play</h3>
                    <div style="margin-top: 20px;">
                        Minesweeper is a logic puzzle game that takes place on a grid "minefield". 
                        The player's goal is to clear (open) every square in the grid without hitting the mine - 
                        and to do it as quickly as possible. 
                        When you open the squares, 
                        clues will also appear as numbers representing the number of mines located in the 8 squares around them.
                    </div>
                    <div style="margin-top: 10px; margin-bottom: 20px;">
                        During the game, you can mark places where you think there will be mines by right-clicking to insert a flag. 
                        Be careful though, just accidentally hitting a landmine is enough to make the game over!
                    </div>
                </div>
            </div>
        </div>
</body>

<script src="../javascripts/index.js"></script>
<script src="../javascripts/credit.js"></script>

</html>