<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="../stylesheets/settings.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    
</head>
<body>
    <div class = "container" id = "big-container">
        <h1 id="page-name">Setting the board</h1>
<!--Dimensions sliders//////////////////////////////////-->
        <p class="slider-title">Length of Row (Max = 20)</p>
        <div class = "slider-container">
            <input type="range" min="5" max="20" value="10" class="slider" id="rowRange" oninput="displaySliderValue()">
            <div class="slider-value-container">
                <p class="slider-value" id="rowValue">10</p>
            </div>
        </div>

        <p class="slider-title">Length of Column (Max = 12)</p>
        <div class = "slider-container">
            <input type="range" min="5" max="12" value="10" class="slider" id="colRange" oninput="displaySliderValue()">
            <div class="slider-value-container">
                <p class="slider-value" id="colValue">10</p>
            </div>
        </div>
        
        <p class="slider-title">Number of Bombs</p>
        <div class = "slider-container">
            <input type="range" min="3" max="30" value="10" class="slider" id="bombRange" oninput="displaySliderValue()">
            <div class="slider-value-container">
                <p class="slider-value" id="numberOfBombs">10</p>
            </div>
        </div>
<!--Checkbox for uploading scores//////////////////////////////-->
        <div id="checkBox-container">
            <input type="checkbox" id="postScoreCheckbox" oninput="enableNameInput()">
            <label for="postScoreCheckbox">Post Score Online (Requires Player name)</label>
        </div>
    <br><!--Player name input//////////////////////////////-->
        <p class="slider-title">Player name:</p>
        <input type="text" id="playername-field" disabled="true">
<br><br> <!--Buttons///////////////////////////////////////-->
        <div id="buttons-container">
            <button class="button" id="play-button" onclick="finalize()">Play</button>
            <button class="button" id="cancel-button" onclick="redirectHome()">Cancel</button>
        </div>
    </div>
</body>

<script src="../javascripts/main_code/Board_Making.js"></script>
<script src="../javascripts/main_code/App_Operator.js"></script>
<script src="../javascripts/settings.js"></script>
</html>