body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: #9CD5C8;
}

#big-container {
    width: 80vw;
    height: 70vh;
    background-color: #FED88E;
    border-radius: 12px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    box-shadow: 3px 3px 7px #707070;
}

#board-container {
    border: 0.5px solid black;
    margin: 5px;
    width: 67%;
}

#game-info-container {
    /*border: 0.5px solid black;*/
    margin: 5px;
    width: 33%;
}

.tile {
    border: 0.5px solid black;
    margin: 2px;
    width: 20px;
    height: 20px;
}

#tile-container {
    background-color: #CECECE;
    width: 100%;
    height: 100%;
    padding: none;
    border-radius: 3px;
}



#player-info-container {
    border: 0.5px solid black;
    padding: 7px 15px 15px 15px;
}

#info-title {
    color: black;
    font-size: 20px;
    font-weight: bold;
    line-height: 0;
    font-style: italic;
    margin-bottom: 20px;
}

.info-line {
    color: black;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    margin-bottom: -10px;
}

.myLabel {
    width: 35%;
}

.userInfo {
    font-weight: bold;
}

#buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    width: 125px;
    height: 30px;
    border-radius: 15px;
    color: white;
    border: 0.5px solid #6CCDF4;
    background-color: #6CCDF4;
    transition: 0.4s;
}

.button:hover {
    transform: translate(0, -5px);
    transition: 0.4s;
    cursor: pointer;
    box-shadow: 2px 2px 2px black;
}

#exit-button {
    color: #EB1B23;
    border: 0.5px solid #EB1B23;
    background-color: #FED88E;
}

#exit-button:hover {
    color: white;
    background-color: #EB1B23;
    border: 0.5px solid #EB1B23;
    transform: translate(0, -5px);
    transition: 0.4s;
}

/*/////////////////////////////////////////////*/

.hoverable {
    background-color: #6CCDF4;
    cursor: pointer;
    border-radius: 6px;
    margin: 0.05vw;
}

.hoverable:hover {
    background-color: greenyellow;
}

.first_click {
    background-color: #29b6f6;
    cursor: pointer;
    border-radius: 3px;
    margin: 0.05vw;
}

.first_click:hover {
    background-color: greenyellow;
}

.flag_on {
    background-color: pink;
    /*background-image: url('../images/flag.png');*/
    background-image: url('../assets/Flag.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.active.bomb {
    /*border-radius: 5px;
    margin: 2px;*/
    border-radius: 0.5vw;
    margin: 0.05vw;
    /*background-image: url('../images/bomb.png');*/
    background-image: url('../assets/Bomb.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.active {
    /*border-radius: 5px;
    margin: 2px;*/
    border-radius: 0.5vw;
    margin: 0.05vw;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.active.number_0 {
    /*background-image: url('../images/Number_0.png');*/
    background-image: url('../assets/0.svg');
}

.active.number_1 {
    /*background-image: url('../images/Number_1.png');*/
    background-image: url('../assets/1.svg');
}

.active.number_2 {
    /*background-image: url('../images/Number_2.png');*/
    background-image: url('../assets/2.svg');
}

.active.number_3 {
    /*background-image: url('../images/Number_3.png');*/
    background-image: url('../assets/3.svg');
}

.active.number_4 {
    /*background-image: url('../images/Number_4.png');*/
    background-image: url('../assets/4.svg');
}

.active.number_5 {
    /*background-image: url('../images/Number_5.png');*/
    background-image: url('../assets/5.svg');
}

.active.number_6 {
    /*background-image: url('../images/Number_6.png');*/
    background-image: url('../assets/6.svg');
}

.active.number_7 {
    /*background-image: url('../images/Number_7.png');*/
    background-image: url('../assets/7.svg');
}

.active.number_8 {
    /*background-image: url('../images/Number_8.png');*/
    background-image: url('../assets/8.svg');
}

.active.number_9 {
    /*background-image: url('../images/Number_9.png');*/
    background-image: url('../assets/9.svg');
}

#grid {
    width:50vw; 
    height: 30vw; 
    background-color: #707070; 
    overflow: auto; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}