body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: #9CD5C8;
}

#big-container {
    width: 70vw;
    height: 70vh;
    background-color: #FED88E;
    border-radius: 12px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 10px #707070;
}

#name-field {
    width: 20vw;
    border: none;
    border-radius: 23px;
    height: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding: 0 10px 0 10px;
    border: 2px solid white;
}

#name-field:hover {
    border: 2px solid #9CD5C8;
    transition: 0.2s;
}

#name-field:focus {
    border: 2px solid #F49478;
    outline: none;
    transition: 0.2s;
}

.button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    width: 200px;
    height: 35px;
    border-radius: 23px;
    outline: none;
    margin-bottom: 20px;
    color: white;
    position: relative;
    transition: 0.3s;
}

#playButton {
    width: 220px;
    background-color: #F49478;
    border: 2px solid #F49478;
}

#playButton:hover {
    width: 240px;
    transform: translate(0, -5px);
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 2px 2px 2px black;
}

#instructionButton {
    background-color: #6CCDF4;
    border: 2px solid #6CCDF4;
}

#instructionButton:hover {
    width: 210px;
    cursor: pointer;
    transition: 0.3s;
    transform: translate(0, -5px);
    box-shadow: 2px 2px 2px black;
}


#game-title {
    font-family: 'call_of_ops_dutyregular';
    font-size: 20vh;
    color: #F49478;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
    text-shadow: 3px 3px black;
}


@font-face {
    font-family: 'call_of_ops_dutyregular';
    src: url('../fonts/call_of_ops_duty-webfont.woff') format('woff'),
         url('../fonts/call_of_ops_duty-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}