<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Menu</title>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/index.css" />
</head>
<body>
    <div class = "container" id = "big-container">
        <h1 id="game-title">Minesweeper</h1>
        <!--<input type="text" class="input-field" id="name-field" placeholder="Player Name"></input><br>-->
        <button class='button' id='playButton' onclick="redirectSettings()">Play</button>
        <button class='button' id='creditsButton'>Credits</button>
    </div>
    <p>Build 0.1</p>
</body>
<script src="../public/javascripts/index.js"></script>

</html>